// colors:
$primaryFontColor: #2F3C44;
$linkActive: #F46841;
$lime: #88D5C9;
$lightGrey: #A1AFB7;
$darkGrey: #646F75;
$peach: #FF9679;


$font-size: 16px;
$mainFont: 'Lato-Regular', sans-serif;


@font-face {
 font-family: 'Lato-Regular';
   font-style: normal;
   font-weight: 400;
 src: url('../fonts/Lato-Regular.ttf');
}
